In [1]:
# 파이썬 프로그래밍

In [3]:
1+1

2

In [4]:
kor = 90
eng = 100

test = 90 + 100
sum = kor + eng
avg = sum / 2

print('합계:', sum)
print('평균:', avg)

print("HEY HEY HEY")

합계: 190
평균: 95.0
HEY HEY HEY

num = 15
x = apple
y = orange

변수는 'Object' 객체 라고 불리운다.

In [27]:
variable = 123456            # 숫자
variable2 = "onetwothree"     # 문자

In [9]:
variable

123456

In [11]:
variable2

'onetwothree'

In [41]:
variable2 + variable

TypeError: can only concatenate str (not "int") to str

In [28]:
!abc = 100

'abc'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [29]:
123

123

In [30]:
age = 100
Age = 1000

In [31]:
age, Age

(100, 1000)

In [34]:
vlookup(std!,$a:$b,2,false)

SyntaxError: invalid syntax (<ipython-input-34-c749fbbb5d96>, line 1)

In [38]:
Computer = 'Mac'

In [39]:
x = 20

In [36]:
Computer = 1

In [40]:
x, Computer, age ,Age

(20, 'Mac', 100, 1000)

In [43]:
### 숫자

In [44]:
i = 10
j = 100
k = -10000

In [45]:
i , j, k

(10, 100, -10000)

In [46]:
f = 300.4

In [47]:
b = 3e3

In [52]:
print ("dude")

TypeError: 'int' object is not callable

In [53]:
type(1)

int

In [58]:
type(1,0)

TypeError: type() takes 1 or 3 arguments

In [59]:
type(1e3)

float

In [60]:
1e3

1000.0

In [61]:
1e3, 3.3333, 6/5

(1000.0, 3.3333, 1.2)

In [62]:
type(1+4J)

complex

# 문자열

In [97]:
#문자열

In [113]:
a = '안녕'
b = 'halo'
a

'안녕'

In [93]:
type(str)

str

In [84]:
x = 'I am happy'

# 인덱스 범위
x[4:8]

In [85]:
x[4:]

' happy'

In [90]:
x[-1]

'y'

In [103]:
x[-4:]

'appy'

In [104]:
10 > 20

False

# Bool

In [100]:
True

True

In [101]:
False

False

In [102]:
10 > 20

False

In [105]:
10 > 20 ==True

False

In [106]:
type(True)

bool

In [107]:
type(True), type(False)

(bool, bool)

# 연산자
산술 연산자: +,=,*,/,%,//,**

In [111]:
a = 10
b = 20

In [112]:
c = a + b * 10 - 5/5
c

209.0

In [114]:
7 ** 0

1

In [119]:
'=+, -+, *=, /='

'=+, -+, *=, /='

In [120]:
x = 10
x += 10
x

20

In [122]:
x =+ 10
x

10

In [123]:
x /= 2
x

5.0

In [124]:
10 * 10

100

In [125]:
10 / 2

5.0

# 숫자 형식별 연산!

In [130]:
0 / 10

0.0

In [131]:
10.0 - 2

8.0

In [132]:
"호" * 100

'호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호호'

In [133]:
ㅁ = "호"

In [134]:
ㅍ = "빵"

In [135]:
ㅁ + ㅍ

'호빵'

In [136]:
    # 잘

In [137]:
ㅁ + 100

TypeError: can only concatenate str (not "int") to str

In [138]:
ㅁ * ㅍ

TypeError: can't multiply sequence by non-int of type 'str'

In [139]:
ㅁ + ㅍ * 100

'호빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵빵'

In [142]:
ㅁ + str(1000)

'호1000'

In [144]:
del str

NameError: name 'str' is not defined

In [151]:
name = "홍길동"
print("내 이름은 " + name + " 입니다.")

내 이름은 홍길동 입니다.

In [152]:
del print

NameError: name 'print' is not defined

In [158]:
name1 = 'mook'
a = '나는 %s입니다.'% name1

In [161]:
print("내 이름은  + %s +  입니다." % name)

내 이름은  + 홍길동 +  입니다.

In [162]:
name = '홍길동'
addr = '서울'

print("내 이름은  + %s +  입니다." % (name, addr) )

TypeError: not all arguments converted during string formatting

In [163]:
age = 1000

print("내 이름은  + %s +  입니다." % (name, addr) )

TypeError: not all arguments converted during string formatting

#  .format()

In [164]:
"내 이름은 {} 이고, 주소는 {} 이고 나이는 {}".format(name, addr, age)

'내 이름은 홍길동 이고, 주소는 서울 이고 나이는 1000'

In [166]:
"내 이름은 {0} 이고, 주소는 {2} 이고 나이는 {1}".format(name, age, addr)

'내 이름은 홍길동 이고, 주소는 서울 이고 나이는 1000'

# practice format

In [167]:
 print('We are the {} who say "{}!"'.format('knights', 'Ni'))

We are the knights who say "Ni!"

In [168]:
'We are the {} who say "{}!"'.format('knights', 'Ni')

'We are the knights who say "Ni!"'

In [170]:
'{1} and {0}' .format('spam' , 'eggs')

'eggs and spam'

In [171]:
'{0} and {1}' .format('spam' , 'eggs')

'spam and eggs'

In [173]:
'This {} is {}' .format('ball', 'shit')

'This ball is shit'

In [177]:
table = {'Tim': 123, 'Mook': 200, 'Joon': 121}
'Tim: {0[Tim]:d}; Mook: {0[Mook]:d};'Joon': {0[Joon]:d}'.format(table))

SyntaxError: invalid syntax (<ipython-input-177-bd1f05ab2403>, line 2)

In [178]:
a = "옹"
type(a), type("홍")

(str, str)

In [179]:
"abc".upper()

'ABC'

In [180]:
"SDFsdfsdfsdfsdfSADFasfd".swapcase()

'sdfSDFSDFSDFSDFsadfASFD'

In [181]:
len("asdasd")

6

In [182]:
" asdasd ASD @!@#F" .strip()

'asdasd ASD @!@#F'

In [186]:
msg = ['a', 'b', 'c'] #리스트
"#".join(msg)

'a#b#c'

In [187]:
"010-1234-123124".split("-")

['010', '1234', '123124']

# 프린트

In [188]:
print("010", 1111, "9999", sep="-")

010-1111-9999

In [190]:
print("2021", "1", "1", sep="/")

2021/1/1

In [194]:
print("안녕")
print("응...")
print("잘 지내니?", end="\n\n\n")

print("dd")

안녕
응...
잘 지내니?


dd

In [195]:
/n

NameError: name 'n' is not defined

In [196]:
\n

SyntaxError: unexpected character after line continuation character (<ipython-input-196-d4a7e95adeab>, line 1)

In [198]:
abc = None

In [203]:
name = input("이름을 입력하세요:")

KeyboardInterrupt: Interrupted by user

In [204]:
a = int(input('첫 번째 숫자를 입력하세요:'))
b = int(input('두 번째 숫자를 입력하세요:'))
c = a + b

첫 번째 숫자를 입력하세요:

ValueError: invalid literal for int() with base 10: ''

In [211]:
inch = float(input('인치(inch)를 입력하세요: '))

cm = inch * 2.54

print('센티미터 : .%.2f'%cm)

인치(inch)를 입력하세요: 32.8
센티미터 : .83.31

In [215]:
name = input('학생 이름을 입력하세요:')
kor = ()(input('국어 성적을 입력하세요:'))
eng = ()(input('영어 성적을 입력하세요:'))
math = ()(input('수학 성적을 입력하세요:'))

total = kor + eng + math
'avg' = total/3

print('name:황예린, 국어:%, 영어%d, 수학%d, 평균%.1점') %(name, kor, eng, math, avg)

SyntaxError: cannot assign to literal (<ipython-input-215-8e77be54eb3f>, line 7)

# 주석

In [217]:
# 한 줄 주석

"""
독 스트링은 문자열 이다.
"""

'\n독 스트링은 문자열 이다.\n'

In [218]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [219]:
print.__doc__

"print(value, ..., sep=' ', end='\\n', file=sys.stdout, flush=False)\n\nPrints the values to a stream, or to sys.stdout by default.\nOptional keyword arguments:\nfile:  a file-like object (stream); defaults to the current sys.stdout.\nsep:   string inserted between values, default a space.\nend:   string appended after the last value, default a newline.\nflush: whether to forcibly flush the stream."

조건:

 - True, Flase 판단 !
 - 크냐, 작냐, 같으냐, ....
    - 조건/비교/관계 연산자:
        - '<, >, =>, <=, ==, '

In [220]:
a = 100
b = 10

if a > b : 
    # 
    #
    #
    print("A is big")
else :
    #
    #
    print("A is small")

A is big

In [222]:
not False

True

In [232]:
x = int(input('숫자를 입력하세요 :'))

if x > 0 : 
    print('양수!')
    
else :
    print('0 또는 음수!')

숫자를 입력하세요 :23
양수!

In [233]:
x = int(input('숫자를 입력하세요 :'))

if x >= 65 or x < 7 : 
    print('Free')
    
else :
    print('$20')

숫자를 입력하세요 :30
$20

In [234]:
x = int(input('숫자를 입력하세요 :'))

if x >= 65 or x < 7 : 
    print('Free')
    
else :
    print('$20')

숫자를 입력하세요 :71
Free

In [241]:
name = input('name:')
name

name:묵

'묵'

In [242]:
name = input('name:')

if not name:
    print("Please try again")

name:123

In [246]:
a = 10

print("True") if a == 10 else print("False")

True

In [247]:
score = int(input('점수를 입력하세요 :'))

if score >= 90 : 
    grade = "A"
elif score >= 80 :
    grade = "B"
elif score >= 70 :
    grade = "C"
elif score >= 60 :
    grade = "D"
else :
    grade = "F"
    
    
print('score : %d' % score)
print('grade : %s' % grade)

점수를 입력하세요 :100
score : 100
grade : A

In [253]:
month = int(input('월을 입력하세요'))

if month >= 3 and month <= 5 :
    print('%d월은 봄입니다.' %month)
    
if month >= 6 and month <= 8 :
    print('%d월은 여름입니다.' %month)
    
if month >= 9 and month <= 11 :
    print('%d월은 가을입니다.' %month)
    
if month == 12 or month == 1 or month == 2 :
    print('%d월은 겨울입니다.' %month)

월을 입력하세요3
3월은 봄입니다.

In [255]:
 a = input('좌석 종류를 입력해 주세요(1:일반실, 2:특실):')
    
seat1 = '일반실'
seat2 = '특실'

if a == '1' :
    print('%s입니다.'%seat1)
    
if a == '2' :
    print('%s입니다.'%seat2)

좌석 종류를 입력해 주세요(1:일반실, 2:특실):1
일반실입니다.

In [261]:
month = int(input('월을 입력하세요'))

num = int(input('숫자를 입력하세요'))
result = '4의 배수도 5의 배수도 아니다.'

if num % 4 == 0 :
    result = '4의 배수이다'
if num % 5 == 0 :
    result = '5의 배수이다'
if num % 4 == 0 and num %5 ==0 :
        result = '4의 배수이면서 5의 배수이다.'
        
print('%d은(는) == %s '%(num,result))

월을 입력하세요34
숫자를 입력하세요34
34은(는) == 4의 배수도 5의 배수도 아니다.

In [265]:
char = input('영어 알파벳을 입력하세요 :')

char2 = char.upper()

if char2 == 'A' or char2 == "E" or char2 == 'I' or char2 == 'O' or char2 == 'U' :
    print ('%s는 모음이다.'%char)
else : 
    print('%s는 자음이다.' %char)

영어 알파벳을 입력하세요 :d
d는 자음이다.

In [269]:
height = int(input('키를 입력해 주세요 : '))
weight = int(input('몸무게를 입력해 주세요'))

a = (height - 100)* 0.9;

print('-'*30)
print ('키 : %dcm' %height)
print ('몸무게 : %dkg' %weight)

if weight > a : 
    print('딱 보기 좋아')
else : 
    print('걍 그래')
    
print('-'*30)

키를 입력해 주세요 : 179
몸무게를 입력해 주세요77
------------------------------
키 : 179cm
몸무게 : 77kg
딱 보기 좋아
------------------------------